@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Rubik;
  margin: 0;
  padding: 0;
}

:root {
  --Black: #000000;
  --Border_Shadow: #a4b0d0;
  --Dark_Gray: #969696;
  --Outline_Color: #38363670;
  --Very_Dark_Gray: #2b2b2b;
  --Very_Dark_Gray_backdrop: #c42d2d20;
  --White: #ffffff;
  --Font_Size: 1.25rem;
  --InfoBar_Size: 10rem;
  --InfoBar_Size_Mobile: 16rem;
  --SearchPanel_Height: 4rem;

  --Rem_size: 16px;
}

html {
  font-size: var(--Rem_size);
}

:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--Outline_Color);
  outline-offset: 3px;
}

::selection {
  background-color: var(--Border_Shadow);
}

body {
  overflow: hidden;
}

/*header part*/

header {
  align-items: center;
  background: url("./images/pattern-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  min-height: 13rem;
}

h1 {
  color: var(--White);
  font-weight: 500;
  margin-bottom: 1rem;
  transform: translateY(-70%);
}

header div {
  position: relative;
  transform: translateY(-60%);
}

form {
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  border: none;
  border-radius: 0.5rem;
  color: var(--Very_Dark_Gray);
  cursor: text;
  font-family: Rubik;
  font-size: var(--Font_Size);
  font-weight: 400;
  height: var(--SearchPanel_Height);
  margin-inline: auto;
  width: 35rem;
  overflow: hidden;
  padding: 0.75rem;
}

input[type="text"]::placeholder {
  color: var(--Dark_Gray);
}

header button {
  background: url("./images/icon-arrow.svg") no-repeat;
  background-color: var(--Very_Dark_Gray);
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: pointer;
  inset: 0 0 auto auto;
  height: var(--SearchPanel_Height);
  position: absolute;
  transition: 0.3s;
  width: 3rem;
}

input[type="text"]:hover + button,
input[type="text"] + button:hover {
  background-color: var(--Dark_Gray);
}

/*Info part*/

section.info-container {
  background-color: var(--White);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 3px 0px var(--Border_Shadow);
  -moz-box-shadow: 0px 0px 3px 0px var(--Border_Shadow);
  box-shadow: 0px 0px 3px 0px var(--Border_Shadow);
  display: grid;
  height: var(--InfoBar_Size);
  margin-inline: auto;
  padding: 1.5rem;
  place-items: center;
  position: relative;
  transform: translateY(-50%);
  width: fit-content;
  z-index: 2;
}

section.info-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  color: var(--Dark_Gray);
}

section.info-container div:not(.info-container-data) {
  height: 20%;
}

section.info-container ul li {
  padding-inline: 1rem;
}

section.info-container ul li:not(:first-child) {
  border-left: 1px solid var(--Dark_Gray);
}

.info-container-data {
  --max-stroke: 3;
  color: var(--Black);
  font-size: calc(var(--Font_Size) * 1.25);
  font-weight: 700;
  display: -webkit-box;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 0;
  user-select: all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-stroke);
}

/*Map render*/

#map {
  min-width: 100vw;
  min-height: 70vh;
  transform: translateY(calc(-1 * (var(--InfoBar_Size))));
}

#map:focus-visible {
  outline: none;
}

/*Error Messsage*/

dialog {
  --message_height: 13rem;
  --message_width: 26rem;

  border: none;
  border-radius: 20px;
  height: var(--message_height);
  padding: 0.5rem 1rem;
  position: fixed;
  width: var(--message_width);
  z-index: 3;

  inset: 50% 50% auto auto;
  transform: translate(50%, -50%);
}

dialog::backdrop {
  background-color: #00000025;
  backdrop-filter: blur(1rem);
}

dialog h2 {
  font-size: calc(var(--Font_Size) * 1.5);
  padding-block: 0.5rem;
}

dialog div {
  font-size: var(--Font_Size);
  padding-block: 0.5rem;
}

dialog button {
  border: 3px solid var(--Black);
  border-radius: 5px;
  font-family: Rubik;
  font-size: var(--Font_Size);
  height: 2rem;
  width: 5rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
  section.info-container ul {
    grid-template-columns: repeat(2, 1fr);
  }

  section.info-container ul li:first-child {
    border-right: 1px solid var(--Dark_Gray);
    border-bottom: 1px solid var(--Dark_Gray);
  }

  section.info-container ul li:nth-child(2) {
    border-bottom: 1px solid var(--Dark_Gray);
    border-left: none;
  }

  section.info-container ul li:nth-child(3) {
    border-left: none;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --Rem_size: 14px;
  }

  body {
    overflow: auto;
  }

  /*header part*/

  h1 {
    transform: translateY(-120%);
  }

  header div {
    width: 25rem;
    transform: translateY(-90%);
  }

  header {
    min-height: 35vh;
  }

  /*Info part*/

  section.info-container {
    height: var(--InfoBar_Size_Mobile);
    padding: 1rem;
  }

  section.info-container ul {
    grid-template-columns: 1fr;
  }

  section.info-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.info-container ul li:first-child {
    border-right: none;
  }

  section.info-container ul li:not(:first-child) {
    border-left: none;
    border-top: 1px solid var(--Dark_Gray);
  }

  .info-container-data {
    font-size: 1.25rem;
  }

  /*Map render*/

  #map {
    min-width: 100vw;
    min-height: 65vh;
    transform: translateY(calc(-1 * (var(--InfoBar_Size_Mobile) / 1)));
  }

  /*Error Messsage*/

  dialog {
    --message_height_mobile: 12rem;
    --message_width_mobile: 24rem;
  }
}
