@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Black: #000000;
  --Border_Shadow: #a4b0d0;
  --Dark_Gray: #969696;
  --Borger_Gray: #c7c7c7;
  --Outline_Color: #38363670;
  --Very_Dark_Gray: #2b2b2b;
  --Very_Dark_Gray_backdrop: #c42d2d20;
  --White: #ffffff;

  --Font_Size: 1.25rem;
  --InfoBar_Size_Mobile: 16rem;
  --SearchPanel_Height: 4rem;

  --mapTranslate: 0rem;
}

:focus-visible {
  border-radius: 0.25rem;
  outline: 0.25rem solid var(--Outline_Color);
  outline-offset: 3px;
}

::selection {
  background-color: var(--Border_Shadow);
}

body {
  overflow: hidden;
  font-family: Rubik;
  height: 100dvh;
}

/*header part*/

header {
  align-items: center;
  background: url("./images/pattern-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  min-height: 13rem;
}

.searchBar {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.searchBar h1 {
  color: var(--White);
}

.searchBar__input {
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  height: 3rem;
  width: inherit;
}

.searchBar__input input {
  height: 100%;
  padding: 0.5rem 1rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.25rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
}

.searchBar__input button {
  background-color: var(--Dark_Gray);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.searchBar__input button img {
  aspect-ratio: 11 / 14;
  height: 50%;
}

.searchBar__input button:hover,
.searchBar__input input:hover + button {
  background-color: var(--Very_Dark_Gray);
}

/*Info part*/

section.infoContainer {
  --numColumn: 4;
  --headSize: 0.875rem;
  --h2Size: 1.75rem;
  --sectionTranslate: -50%;

  background-color: var(--White);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0 var(--Border_Shadow);
  -moz-box-shadow: 0 0 0.5rem 0 var(--Border_Shadow);
  box-shadow: 0 0 0.5rem 0 var(--Border_Shadow);
  display: grid;
  grid-template-columns: repeat(var(--numColumn), 1fr);
  height: var(--InfoBar_Size);
  margin-inline: auto;
  padding: 1.5rem;
  place-items: center;
  position: relative;
  transform: translateY(var(--sectionTranslate));
  width: fit-content;
  z-index: 2;
}

.infoContainer__info {
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-rows: calc(var(--headSize) + 0.25rem) 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-right: 0.125rem solid var(--Borger_Gray);
}

.infoContainer__info:nth-child(4) {
  border-right: none;
}

.infoContainer__info p {
  color: var(--Dark_Gray);
  font-size: var(--headSize);
  text-transform: uppercase;
}

.infoContainer__info h2 {
  --max-stroke: 3;

  font-size: var(--h2Size);
  display: -webkit-box;
  overflow: hidden;
  user-select: all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-stroke);
}

/*Map render*/

#map {
  height: 70vh;
  transform: translateY(var(--mapTranslate));
  z-index: 1;
}

#map:focus-visible {
  outline: none;
}

/*Error Messsage*/

dialog {
  --message_height: 13rem;

  aspect-ratio: 2 / 1;
  border: none;
  border-radius: 20px;
  height: var(--message_height);
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 3;

  inset: 50% 50% auto auto;
  transform: translate(50%, -50%);
}

dialog::backdrop {
  background-color: #00000025;
  backdrop-filter: blur(1rem);
}

dialog h2 {
  font-size: calc(var(--Font_Size) * 1.5);
  padding-block: 0.5rem;
}

dialog div {
  font-size: var(--Font_Size);
  padding-block: 0.5rem;
}

dialog button {
  border: 3px solid var(--Black);
  border-radius: 5px;
  font-family: Rubik;
  font-size: var(--Font_Size);
  height: 2rem;
  width: 5rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
  header {
    padding-block: 3rem;
    justify-content: start;
  }

  section.infoContainer {
    --numColumn: 2;
    --headSize: 0.75rem;
    --h2Size: 1.625rem;
  }

  .infoContainer__info:nth-child(even) {
    border-right: none;
  }

  .infoContainer__info:nth-child(1),
  .infoContainer__info:nth-child(2) {
    border-bottom: 0.125rem solid var(--Borger_Gray);
  }
}

@media screen and (max-width: 600px) {
  .searchBar {
    width: 25rem;
  }

  section.infoContainer {
    --numColumn: 1;
    --headSize: 0.625rem;
    --h2Size: 1.5rem;
    --sectionTranslate: -30%;
  }

  .infoContainer__info {
    border-right: none;
    border-bottom: 0.125rem solid var(--Borger_Gray);
  }

  .infoContainer__info:nth-child(4) {
    border-bottom: none;
  }
}
